<%= form_for(@unidad_medida) do |f| %>
<% if @unidad_medida.errors.any? %>
<div id="error_explanation">
<table style="background-color:#FF9595;border:solid 5px #d9534f;margin-left:150px">
<tr>
<td>
    <h2>Hubo <%= pluralize(@unidad_medida.errors.count, "error") %> error(es) al agregar una nueva unidad de medida:</h2>

    <ul>
        <% @unidad_medida.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
</td>
</tr>
</table>
<% end %>
<div class="form-group">
                <%= f.label :nombre  %>
            <%= f.text_field :nombre,maxlength:50, :class => "form-control" %>
    </div>
<div class="form-group">
                <%= f.label :simbolo %>
            <%= f.text_field :simbolo,maxlength:10, :class => "form-control" %>
    </div>
<div class="actions">
    <%= f.submit "Aceptar", :class => "btn btn-primary" %>
</div>
<% end %>
