<%= form_for(@unidad_medida) do |f| %>
<% if @unidad_medida.errors.any? %>
<div id="error_explanation">
<table style="background-color:#FF9595;border:solid 5px #d9534f;margin:0 auto">
<tr>
<td>
    <h4>Hubo <%= pluralize(@unidad_medida.errors.count, "") %> error(es) en el registro:</h4>

    <ul>
        <% @unidad_medida.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
</td>
</tr>
</table>
</div>
<% end %>
<table style="margin:0 auto">
<tr>
<div class="form-group">
<td width="100px">
                <%= f.label :nombre  %>
                </td>
                <td>
            <%= f.text_field :nombre,maxlength:50, :class => "form-control" %>
            </td>
    </div>
    </tr>
    <tr><td colspan="2">&nbsp</td></tr>
    <tr>
<div class="form-group">
<td>
                <%= f.label :simbolo %>
                </td>
                <td>
            <%= f.text_field :simbolo,maxlength:10, :class => "form-control" %>
            </td>
    </div>
    </tr>
    </table>
    <br/>
    <table style="margin-left:60%">
    <tr>
    <td>
<div class="actions">
    <%= f.submit "Guardar", :class => "btn btn-primary" %>
</div>
</td>
<td>
<%= link_to 'Cancelar', unidad_medidas_path, :class => "btn btn-primary" %>
</td>
</tr>
</table>
<% end %>
