<%= form_for(@tipo_contenedor) do |f| %>
<% if @tipo_contenedor.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@tipo_contenedor.errors.count, "error") %> prohibited this tipo_contenedor from being saved:</h2>

    <ul>
        <% @tipo_contenedor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="form-group">
                <%= f.label :nombre %>
            <%= f.text_field :nombre, :class => "form-control" %>
    </div>
<div class="actions">
    <%= f.submit :class => "btn btn-success" %>
</div>
<% end %>
