<div>
<table width="100%" style="margin-top:1%">
<tr>
<td></td>
<td align="right">
<%= link_to 'Menú', menu_index_path, :class => "btn btn-link", :style => "color:white;text-decoration:underline" %>
<font color="white">|</font>
<%= link_to 'Salir', destroy_user_session_path, :class => "btn btn-link", :style => "color:white;text-decoration:underline" %> 
</td>
</tr>
</table>
<div class="container-fluid"> 
  <div class="row">
    <div class="col-md-1">
      <div class="btn-group-vertical"style="padding-left:0%;padding-top:150%;width:260%";role="group" aria-label="...">
        <%= link_to "Tipo de pago",tipo_pagos_path, :class => "btn btn-default" %></button>
        <%= link_to "Estado de comanda",estado_pedidos_path, :class => "btn btn-default" %></button>
        <%= link_to "Tipo de contenedor",tipo_contenedors_path, :class => "btn btn-default" %></button>
        <%= link_to "Equivalencias",equivalencia_path, :class => "btn btn-default" %></button>
        <%= link_to "Unidad de medida",unidad_medidas_path, :class => "btn btn-default" %></button>
        <%= link_to "Tipo de material",tipo_materials_path, :class => "btn btn-default" %></button>
        <%= link_to "Tipo de usuario",tipo_usuarios_path, :class => "btn btn-default" %></button>

      </div>     
    </div>

    <div class="col-md-11">
      <div style="background-color:white;min-height:485px;width:91%;float:right;padding-top:1%;padding-left:5%;padding-right:8%;margin-top:0%">
        
        <h2 style="color:#660000"><strong>Tipos de Contenedor</strong></h2>
        <br/>
        <p>A contnuación se muestran los tipos de contenedor registrados en el sistema. Para agregar un nuevo tipo de contenedor, presione el botón "Nuevo" y para editarlo seleccione "Editar".</p>
        <br/>

        <%= link_to 'Nuevo', new_tipo_contenedor_path, :class => "btn btn-primary float-left",:style => "margin-left:10%" %>
            <table class="table table-hover" style="width:80%;margin:0 auto">
            <thead>
              <tr>
              <th width="10%">Editar</th>
                <th>Nombre</th>
                
                <!-- <th></th>
                <th></th> -->
              </tr>
            </thead>

            <tbody>
              <% @tipo_contenedors.each do |tipo_contenedor| %>
                <tr>
                <td><%= link_to 'Editar', edit_tipo_contenedor_path(tipo_contenedor) %></td>
                              <td><%= tipo_contenedor.nombre %></td>
                          
                  <!-- <td><%= link_to 'Edit', edit_tipo_contenedor_path(tipo_contenedor) %></td>
                  <td><%= link_to 'Destroy', tipo_contenedor, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
                </tr>
              <% end %>
            </tbody>
          </table>
          
            
        <br>
      </div>
    </div>  
  </div>
</div>
</div>