<%= form_for(@lote) do |f| %>
<% if @lote.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@lote.errors.count, "error") %> prohibited this lote from being saved:</h2>

    <ul>
        <% @lote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="form-group">
                <%= f.label :stock_original %>
            <%= f.number_field :stock_original, :class => "form-control" %>
    </div>
<div class="form-group">
                <%= f.label :stock_actual_bodega %>
            <%= f.number_field :stock_actual_bodega, :class => "form-control" %>
    </div>
<div class="form-group">
                <%= f.label :stock_actual_cocina %>
            <%= f.number_field :stock_actual_cocina, :class => "form-control" %>
    </div>
<div class="form-group">
                <%= f.label :stock_actual_bar %>
            <%= f.number_field :stock_actual_bar, :class => "form-control" %>
    </div>
<div class="form-group">
                <%= f.label :precio_compra %>
            <%= f.number_field :precio_compra, :class => "form-control" %>
    </div>
<div class="form-group">
                <%= f.label :material_id %>
            <%= f.collection_select :material_id, Material.all, :id, :name, prompt: true, :class => 'form-control'  %>
    </div>
<div class="form-group">
                <%= f.label :unidad_medida_id %>
            <%= f.collection_select :unidad_medida_id, UnidadMedida.all, :id, :name, prompt: true, :class => 'form-control'  %>
    </div>
<div class="actions">
    <%= f.submit :class => "btn btn-success" %>
</div>
<% end %>
