<div>
<table width="100%" style="margin-top:1%">
<tr>
<td></td>
<td align="right">
<%= link_to 'Menú', menu_index_path, :class => "btn btn-link", :style => "color:white;text-decoration:underline" %>
<font color="white">|</font>
<%= link_to 'Salir', destroy_user_session_path, :class => "btn btn-link", :style => "color:white;text-decoration:underline" %> 
</td>
</tr>
</table>
<div style="background-color:white;min-height:485px;padding-top:16px;padding-bottom:49px;padding-left:200px;padding-right:200px">
 <h2 style="color:#660000" style="margin:0 auto"><strong>Bodega</strong></h2>
  <br/>
  <p style="margin:0 auto">A contnuación se muestran los lotes en bodega. Para editar un lote, seleccione "Ver Detalle".</p>
<hr>

<table class="table table-hover" style="margin:0 auto">
  <thead>
    <tr>
    <th>Ver Detalle</th>
    <th>Material</th>
      <th>Stock original</th>
      <th>Stock actual</th>
      <th>Stock cocina</th>
      <th>Stock bar</th>
      <th>Fecha Vencimiento</th>
      <!-- <th></th>
      <th></th> -->
    </tr>
  </thead>

  <tbody>
    <% @lotes.each do |lote| %>
      <tr>
      <td><%= link_to 'Ver Detalle', edit_lote_path(lote) %></td>
        <td><%= lote.material.nombre %></td>
                    <td><%= lote.stock_original %></td>
                    <td><%= lote.stock_actual_bodega %></td>
                    <td><%= lote.stock_actual_cocina %></td>
                    <td><%= lote.stock_actual_bar %></td>
                    <td><%= lote.fecha_vencimiento %></td>
        <!-- <td><%= link_to 'Edit', edit_lote_path(lote) %></td>
        <td><%= link_to 'Destroy', lote, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>