<% if notice -%>
<p id="notice"><%= notice %></p>
<% end -%>

<h1></h1>
<p></p>
<hr>

<table class="table table-bordered">
	<tbody>
			<tr>
		  <th>Ocupada:</th>
		  <td><%= @mesa.ocupada %></td>
		</tr>
		</tbody>
</table>

<%= link_to 'Edit', edit_mesa_path(@mesa), :class => "btn btn-default" %>
<%= link_to 'Destroy', @mesa, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
<%= link_to 'Back', mesas_path, :class => "btn btn-link" %>
