<%= form_for(@tipo_pago) do |f| %>
<% if @tipo_pago.errors.any? %>
<div id="error_explanation">
<table style="background-color:#FF9595;border:solid 5px #d9534f;margin:0 auto">
<tr>
<td>
    <h4>Hubo <%= pluralize(@tipo_pago.errors.count, "") %> error(es) en el registro:</h4>

    <ul>
        <% @tipo_pago.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
</td>
</tr>
</table>
</div>
<% end %>

<table style="margin:0 auto">
<tr>
<div class="form-group">
<td width="100px">
                <%= f.label :nombre %>
                </td>
                <td>
            <%= f.text_field :nombre,maxlength:50, :class => "form-control" %>
            </td>
    </div>
    </tr>
    </table>
<br/>
    <table style="margin-left:60%">
    <tr>
    <td>
<div class="actions">
    <%= f.submit "Guardar", :class => "btn btn-primary" %>
</div>
</td>
<td>
<%= link_to 'Cancelar', tipo_pagos_path, :class => "btn btn-primary" %>
</td>
</tr>
</table>
<% end %>
