<%= form_for(@pedido) do |f| %>
<% if @pedido.errors.any? %>
<div id="error_explanation">
    <h4>Hubo <%= pluralize(@pedido.errors.count, "error") %> error(es) en el registro:</h4>

    <ul>
        <% @pedido.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<table style="margin-left:150px">
    <tr>
        <td width="150px">
            <%= label_tag "Responsable:" %>
        </td>
        <td>
            <%= current_user.name %>
        </td>
    </tr>
    <tr>
        <td>
            &nbsp
        </td>
    </tr>
    <tr>
        <div class="form-group">
        <td>
            <%= f.label "#{:mesa}:" %>
        </td>
        <td>
            <%= f.collection_select :mesa_id, Mesa.all, :id, :id, prompt: "Seleccione mesa", :class => 'form-control'  %>
        </td>
        </div>
    </tr>
</table>

<br/>
<br/>

<table style="margin-left:450px">
    <tr>
        <td>
            <div class="actions">
                <%= f.submit "Siguiente", :class => "btn btn-primary"%>
            </div>
        </td>
        <td>
            <%= link_to 'Cancelar', pedidos_path, :class => "btn btn-primary" %>
        </td>
    </tr>
</table>

<% end %>
