<%= form_for(@pedido) do |f| %>
<% if @pedido.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

    <ul>
        <% @pedido.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="form-group">
                <%= f.label :fecha %>
            <%= f.datetime_select :fecha, :class => "form-control" %>
    </div>
<div class="form-group">
                <%= f.label :monto_total %>
            <%= f.number_field :monto_total, :class => "form-control" %>
    </div>
<div class="form-group">
                <%= f.label :mesa_id %>
            <%= f.collection_select :mesa_id, Mesa.all, :id, :name, prompt: true, :class => 'form-control'  %>
    </div>
<div class="form-group">
                <%= f.label :estado_pedido_id %>
            <%= f.collection_select :estado_pedido_id, EstadoPedido.all, :id, :name, prompt: true, :class => 'form-control'  %>
    </div>
<div class="form-group">
                <%= f.label :tipo_pago_id %>
            <%= f.collection_select :tipo_pago_id, TipoPago.all, :id, :name, prompt: true, :class => 'form-control'  %>
    </div>
<div class="form-group">
                <%= f.label :usuario_id %>
            <%= f.collection_select :usuario_id, Usuario.all, :id, :name, prompt: true, :class => 'form-control'  %>
    </div>
<div class="actions">
    <%= f.submit :class => "btn btn-success" %>
</div>
<% end %>
