<div style="background-color:white;min-height:502px;padding-top:16px;padding-bottom:91px;padding-left:200px;padding-right:200px;margin-top:39px">

	<h2 style="COLOR:#660000"><strong>Detalle Comanda</strong></h2>
	<br />
	<p>Por favor, agregue los productos solicitados en la comanda presionando el botón "Agregar".</p>
	<br />
	<table>
		<tr>
			<td width="100px">
				<%= label_tag "Responsable:" %>
			</td>
			<td>
				<%= @pedido.usuario.nombre %>
			</td>
		</tr>
		<tr>
			<td>
				<%= label_tag "Mesa:" %>
			</td>
			<td>
				<%= @pedido.mesa_id %>
			</td>
		</tr>
		<tr>
			<td>
				<%= label_tag "Estado:" %>
			</td>
			<td>
			<%= @pedido.estado_pedido.nombre %>
			</td>
		</tr>
	</table>
	<br/>
<% @total = 0 %>
	<% if @pedido.estado_pedido_id!=3 %>
	<%= link_to 'Agregar', { controller: "detalle_pedidos", action: "new", id: @pedido }, :class => "btn btn-info", :style => "position:float" %>
	<% end %>
	<table class="table table-striped" id="tabla_filtro">
    <thead>
      <tr class="active">
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
    </thead>

    <tbody>
      <% @detalle_pedidos.each do |detalle_pedido| %>
      <% @total = @total + (detalle_pedido.cantidad_venta*detalle_pedido.precio_venta) %>
        <tr>
                      <!--<td><%= link_to 'Ver Detalle', detalle_pedido %></td>-->
                      <td><%= detalle_pedido.producto.nombre %></td>
                      <td><%= detalle_pedido.cantidad_venta %></td>
                      <td>$ <%= detalle_pedido.precio_venta %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
    	<tr>
    		<td></td>
    		<td><%= label_tag "Monto Total:" %></td>
    		<td>$ <%= @total %></td>
    	</tr>
    </tfoot>
  </table>

  	<table class="float-right">
  	<tr>
  	<td align="right">
  	<% if DetallePedido.where("pedido_id=?",@pedido.id).count>0 and @pedido.estado_pedido_id!=3 %>
	<%= link_to 'Guardar', { controller: "aux", action: "guardar_pedido", id: @pedido }, :class => "btn btn-primary" %>
	<% end %>
	<% if DetallePedido.where("pedido_id=?",@pedido.id).count>0 and @pedido.estado_pedido_id==1 and !@pedido.nuevo %>
	<%= link_to "Entregado",{ controller: "aux", action: "entregar_pedido", id: @pedido },data: { confirm: "¿Está seguro que desea cambiar el estado a 'Entregado'?" }, :class => "btn btn-primary" %>
	<% end %>
	<% if DetallePedido.where("pedido_id=?",@pedido.id).count>0 and @pedido.estado_pedido_id==2 %>
	<%= link_to "Pagado",{ controller: "aux", action: "finalizar_pedido", id: @pedido },data: { confirm: "¿Está seguro que desea cambiar el estado a 'Pagado'?" }, :class => "btn btn-primary" %>
	<% end %>
	<!--<%= link_to 'Cancelar', pedidos_path, :class => "btn btn-primary" %>-->
	<!--<%= link_to 'Destroy', @pedido, method: :delete, data: { confirm: "¿Está seguro que desea salir?" }, :class => "btn btn-danger" %>-->
	<%= link_to_if(!@pedido.nuevo,'Cancelar',{ controller: "aux", action: "cancelar_pedido", id: @pedido }, data: { confirm: "¿Está seguro que desea salir?" },:class => "btn btn-primary") do link_to('Cancelar', @pedido, method: :delete, data: { confirm: "¿Está seguro que desea salir?" }, :class => "btn btn-primary") end %>
	</td>
	</tr>
	</table>
</div>