<%= form_for(@detalle_pedido) do |f| %>
<% if @detalle_pedido.errors.any? %>
<div id="error_explanation">
<table style="background-color:#FF9595;border:solid 5px #d9534f;margin-left:150px">
<tr>
<td>
    <h2>Hubo <%= pluralize(@detalle_pedido.errors.count, "") %>error(es) en el registro:</h2>

    <ul>
        <% @detalle_pedido.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</td>
</tr>
</table>
</div>
<% end %>
<br/>
<table style="margin-left:130px">
    <tr>
    <div class="form-group">
        <td width="80px">
            <%= f.label :producto_id %>
        </td>
        <td width="220px">
            <%= f.collection_select :producto_id, Producto.where(['actual = true']).all, :id, :nombre, prompt: "Seleccione un producto", :class => 'form-control' %>
        </td>
        <td width="120px">
            <%= f.label :cantidad_venta %>
        </td>
        <td width="100px">
            <%= f.number_field :cantidad_venta, :class => "form-control" %>
        </td>
    </div>
    </tr>
</table>

<!--<div class="form-group">
                <%= f.label :precio_venta %>
                <%= f.number_field :precio_venta, :class => "form-control" %>
    </div>-->
<div class="form-group" style="visibility:hidden">
                <%= f.label :pedido_id %>
            <%= f.collection_select :pedido_id, Pedido.all, :id, :id,:selected => @pedido.id, prompt: true, :class => 'form-control'  %>
            </div>
            
    
<table style="margin-left:490px">
    <tr>
        <td width="100px">
            <div class="actions">
                <%= f.submit 'Agregar',:class => "btn btn-primary" %>
            </div>
        </td>
        <td>
            <%= link_to 'Cancelar',@pedido, :class => "btn btn-primary" %>
        </td>
    </tr>
</table>


<% end %>
