<%= form_for(@recetum) do |f| %>
<% if @recetum.errors.any? %>
<div id="error_explanation">
<table style="background-color:#FF9595;border:solid 5px #d9534f;margin:0 auto" >
<tr>
<td>
    <h4>Hubo <%= pluralize(@recetum.errors.count, "") %> error(es) en el registro:</h4>

    <ul>
        <% @recetum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
    </td>
    </tr>
    </table>
</div>
<% end %>

<table style="margin-left:150px">
    <tr>
<div class="form-group">
<td width="200px">
                <%= f.label :material_id %>
                </td>
                <td>
            <%= f.collection_select :material_id, Material.all, :id, :nombre, prompt: "Seleccione material", :class => 'form-control'  %>
            </td>
    </div>
    </tr>
    <tr><td>&nbsp</td></tr>
<tr>
<div class="form-group">
<td>
                <%= f.label :cantidad_compuesto %>
                </td>
                <td>
            <%= f.number_field :cantidad_compuesto, :in => 1..999999, :class => "form-control" %>
            </td>
    </div>
    </tr>
    </table>

    <div class="form-group" style="visibility:hidden">
                <%= f.label :producto_id %>
            <%= f.collection_select :producto_id, Producto.all, :id, :id,:selected => @producto.id, prompt: true, :class => 'form-control'  %>
            </div>

<table style="margin-left:450px">
<tr>
<td>
<div class="actions">
    <%= f.submit "Agregar",:class => "btn btn-primary" %>
</div>
</td>
<td>
<%= link_to 'Cancelar',@producto, :class => "btn btn-primary" %>
</td>
</tr>
</table>
<% end %>
