<%= form_for(@compra) do |f| %>
<% if @compra.errors.any? %>
<div id="error_explanation">
<table class="float-center" style="background-color:#FF9595;border:solid 5px #d9534f;margin-left:150px">
<tr>
<td>
    <h4>Hubo <%= pluralize(@compra.errors.count, "") %> error(es) en el registro:</h4>

    <ul>
        <% @compra.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
    </td>
    </tr>
</table>
</div>
<% end %>

<table style="margin:0 auto">
<tr>
<div class="form-group">
                <td width="100px">
                <%= f.label "Tipo:" %>
                </td>
                <td>
            <%= f.select :tipo, [['Boleta','Boleta'],['Factura','Factura'],['Otro','Otro']],prompt: "Seleccione un tipo de compra", :class => 'form-control' %>
            </td>
    </div>
    </tr>
    <tr><td>&nbsp</td></tr>
    <tr>
<div class="form-group">
                <td>
                <%= f.label "Proveedor:" %>
                </td>
                <td>
            <%= f.collection_select :proveedor_id, Proveedor.all, :id, :nombre, prompt: "Seleccione un proveedor", :class => 'form-control'  %>
            </td>
    </div>
    </tr>
    </table>

    <br/>
<br/>

<table style="margin-left:60%">
<tr>
<td>
<div class="actions">
    <%= f.submit "Siguiente", :class => "btn btn-primary" %>
</div>
</td>
<td>&nbsp</td>
<td>
<%= link_to 'Cancelar', compras_path, :class => "btn btn-primary" %>
</td>
</tr>
</table>

<% end %>
