<div style="background-color:white;min-height:485px;padding-top:16px;padding-bottom:91px;padding-left:200px;padding-right:200px;margin-top:3.8%">

<h2 style="COLOR:#660000"><strong>Detalle Compra</strong></h2>
	<br />
	<p>Por favor, agregue los materiales que se encuentran en la compra.</p>
	<br />

<% if @compra.nuevo %>
<%= link_to 'Agregar', { controller: "detalle_compras", action: "new", id: @compra }, :class => "btn btn-primary" %>
<% end %>
<% @total=0 %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Material</th>
      <th>Cantidad</th>
      <th>Contenedor</th>
      <th>Precio Unidad</th>
      <!-- <th></th>
      <th></th> -->
    </tr>
  </thead>

  <tbody>
    <% @detalle_compras.each do |detalle_compra| %>
    <% @total=@total+detalle_compra.total_compra %>
      <tr>
                    <td><%= detalle_compra.material.nombre %></td>
                    <td><%= detalle_compra.cantidad_compra %></td>
                    <td><%= detalle_compra.tipo_contenedor.nombre %></td>
                    <td>$ <%= detalle_compra.precio_unidad_compra %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td><%= label_tag "Monto Total:" %></td>
      <td>$ <%= @total %></td>
    </tr>
  </tfoot>
</table>

<table class="float-right">
<tr>
<td>
<% if DetalleCompra.where("compra_id=?",@compra.id).count>0 and @compra.nuevo %>
<%= link_to 'Guardar', { controller: "aux", action: "guardar_compra", id: @compra }, :class => "btn btn-primary" %>
<% end %>
</td>
<td>
<%= link_to_if(!@compra.nuevo,'Cancelar',compras_path, data: { confirm: "¿Está seguro que desea salir?" },:class => "btn btn-primary") do link_to('Cancelar', @compra, method: :delete, data: { confirm: "¿Está seguro que desea salir?" }, :class => "btn btn-primary") end %>
</td>
</tr>
</table>

</div>