<%= form_for(@producto) do |f| %>
<% if @producto.errors.any? %>
<div id="error_explanation">
<table style="background-color:#FF9595;border:solid 5px #d9534f;margin:0 auto" >
<tr>
<td>
    <h4>Hubo <%= pluralize(@producto.errors.count, "") %> error(es) en el registro:</h4>

    <ul>
        <% @producto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
    </td>
    </tr>
    </table>
</div>
<% end %>

<table style="margin-left:150px">
<tr>
<div class="form-group">
<td width="100px">
                <%= f.label :nombre %>
                </td>
                <td>
            <%= f.text_field :nombre,maxlength: 50, :class => "form-control" %>
            </td>
    </div>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp
        </td>
    </tr>
        <tr>
<div class="form-group">
<td>
                <%= f.label :precio %>
                </td>
                <td>
            <%= f.number_field :precio, :in => 1..99999, :class => "form-control" %>
            </td>
    </div>
    </tr>
        <tr>
        <td colspan="2">
            &nbsp
        </td>
    </tr>
    <tr>
<div class="form-group">
<td>
                <%= f.label :tipo %>
                </td>
                <td>
            <%= f.select :tipo,[['Cocina','Cocina'],['Bar','Bar']],prompt: "Seleccione tipo", :class => "form-control" %>
            </td>
    </div>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp
        </td>
    </tr>
    <tr>
    <div class="form-group">
        <td>
          <%= f.label :clasificacion %>
        </td>
        <td>
            <%= f.select :clasificacion,[['Para picar','Para picar'],['Platos','Platos'],['Fajitas','Fajitas'],['Braseros','Braseros'],['Postres','Postres'],['Barra','Barra']], prompt: "Seleccione clasificación", :class => "form-control" %>
        </td>
    </div>
    </tr>
    </table>

<br/>
<table style="margin-left:450px">
<tr>
<td>
<div class="actions">
    <%= f.submit 'Siguiente',:class => "btn btn-primary" %>
</div>
</td>
<td>
<%= link_to 'Cancelar', productos_path, :class => "btn btn-primary" %>
</td>
</tr>
</table>
<% end %>
