<%= form_for(@producto) do |f| %>
<% if @producto.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

    <ul>
        <% @producto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<table>
<tr>
<div class="form-group">
<td>
                <%= f.label :nombre %>
                </td>
                <td>
            <%= f.text_field :nombre, :class => "form-control" %>
            </td>
    </div>
    </tr>
    <tr>
<div class="form-group">
<td>
                <%= f.label :tipo %>
                </td>
                <td>
            <%= f.select :tipo,[['Cocina','Cocina'],['Bar','Bar']],prompt: "Seleccione tipo", :class => "form-control" %>
            </td>
    </div>
    </tr>
    <tr>
<div class="form-group">
<td>
                <%= f.label :precio %>
                </td>
                <td>
            <%= f.number_field :precio, :class => "form-control" %>
            </td>
    </div>
    </tr>
    </table>
<table class="float-right">
<tr>
<td>
<div class="actions">
    <%= f.submit 'Siguiente',:class => "btn btn-primary" %>
</div>
</td>
<td>
<%= link_to 'Cancelar', productos_path, :class => "btn btn-primary" %>
</td>
</tr>
</table>
<% end %>
