<div>
<table width="100%">
<tr>
<td>
  
</td>
<td align="right">
<%= link_to 'Inicio',menu_index_path, :class => "btn btn-danger", :style => "color:white;" %>
<%= link_to 'Salir', destroy_user_session_path, :class => "btn btn-danger", :style => "color:white;" %> 
</td>
</tr>
</table>
<div style="background-color:white;min-height:492px;padding-top:16px;padding-bottom:91px;padding-left:200px;padding-right:200px;margin-top:3px">
<h2 style="color:#660000"><strong>Productos</strong></h2>
  <br/>
  <p>A contnuación se muestran los productos registrados. Para agregar un nuevo producto, presione el botón "Nuevo" y para editarlo seleccione "Ver Detalle".</p>
<hr>

<%= link_to 'Nuevo', new_producto_path, :class => "btn btn-primary float-left" %>

<table class="table table-hover" id="tabla_filtro">
  <thead>
    <tr>
      <th>Ver Detalle</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Clasificacion</th>
      <th>Precio</th>
      <th>Costo</th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
                    <td><%= link_to 'Ver Detalle', producto %></td>
                    <td><%= producto.nombre %></td>
                    <td><%= producto.tipo %></td>
                    <td><%= producto.clasificacion %></td>
                    <td>$ <%= producto.precio %></td>
                    <td>$ <%= producto.costo %></td>
        <!-- <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
        <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>
