	<div style="background-color:white;min-height:492px;padding-top:16px;padding-bottom:91px;padding-left:200px;padding-right:200px;margin-top:3.3%">

<h2 style="COLOR:#660000"><strong>Receta Producto</strong></h2>
	<br />
	<p>Por favor, agregue los materiales que componen el producto actual presionando el botón "Agregar".</p>
	<br />

  <table>
    <tr>
      <td width="100px"><%= label_tag "Producto:" %></td>
      <td><%= label_tag @producto.nombre %></td>
    </tr>
  </table>

  <br/>

<%= link_to 'Agregar',{ controller: "receta", action: "new", id: @producto }, :class => "btn btn-primary" %>

<table class="table table-striped" id="tabla_filtro">
  <thead>
    <th>Material</th>
    <th>Cantidad</th>
  </thead>
  <% @recetas.each do |recetum| %>
    <tr> 
      <td><%= recetum.material.nombre %></td>
      <td><%= recetum.cantidad_compuesto %> <%= recetum.material.unidad_medida.simbolo %></td>
    </tr>
  <% end %>
</table>
<br/>
<table class="float-right">
  <tr>
    <td>
      <% if Recetum.where('producto_id=?',@producto.id).count>0 %>
    <%= link_to 'Guardar',{ controller: "aux", action: "guardar_producto", id: @producto },:class => 'btn btn-primary' %>
    <% end %>
    </td>
    <td><%= link_to_if(@producto.nuevo,'Cancelar',@producto,method: :delete,data: { confirm: '¿Está seguro que desea salir?'},:class => 'btn btn-primary') do link_to('Cancelar',{ controller: "aux", action: "cancelar_producto", id: @producto },data: { confirm: '¿Está seguro que desea salir?'},:class => 'btn btn-primary') end %></td>
  </tr>
</table>


</div>