<%= form_for(@material) do |f| %>
<% if @material.errors.any? %>
<div id="error_explanation">
    <h4>Hubo <%= pluralize(@material.errors.count, "") %> error(es) en el registro:</h4>

    <ul>
        <% @material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<table style="margin:0 auto">
<tr>
<div class="form-group">
<td width="210px">
                <%= f.label :nombre %>
                </td>
                <td>
            <%= f.text_field :nombre,:maxlength => 50, :class => "form-control" %>
            </td>
    </div>
    </tr>
    <tr><td colspan="2">&nbsp</td></tr>
    <tr>
<div class="form-group">
<td>
                <%= f.label :tipo_material_id %>
                </td>
                <td>
            <%= f.collection_select :tipo_material_id, TipoMaterial.all, :id, :nombre, prompt: 'Seleccione tipo material', :class => 'form-control'  %>
            </td>
    </div>
    </tr>
    <tr><td colspan="2">&nbsp</td></tr>
    <tr>
<div class="form-group">
<td>
                <%= f.label 'Unidad de medida de trabajo' %>
                </td>
                <td>
            <%= f.collection_select :unidad_medida_id, UnidadMedida.all, :id, :nombre, prompt: 'Seleccione unidad de medida', :class => 'form-control'  %>
            </td>
    </div>
    </tr>
    <tr><td colspan="2">&nbsp</td></tr>
    <tr>
<div class="form-group">
<td>
                <%= f.label 'Unidad de medida de compra' %>
                </td>
                <td>
            <!--<%= f.number_field :unidad_medida2, :class => "form-control" %>-->
            <%= f.collection_select :unidad_medida2, TipoContenedor.all, :id, :nombre, prompt: 'Seleccione unidad de medida', :class => 'form-control'  %>
            </td>
    </div>
    </tr>
    </table>

<br/>

<table style="margin-left:60%">
<tr>
<td>
<div class="actions">
    <%= f.submit 'Guardar', :class => "btn btn-primary" %>
</div>
</td>
<td>
<%= link_to 'Cancelar', materials_path, :class => "btn btn-primary" %>
</td>
</tr>
</table>
<% end %>
