<h1>Listing materials</h1>
<p></p>
<hr>

<%= link_to 'New Material', new_material_path, :class => "btn btn-primary float-right" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Pmp</th>
      <th>Cantidad</th>
      <th>Tipo material</th>
      <th>Unidad medida</th>
      <th>Unidad medida</th>
      <th></th>
      <!-- <th></th>
      <th></th> -->
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
                    <td><%= material.nombre %></td>
                    <td><%= material.pmp %></td>
                    <td><%= material.cantidad %></td>
                    <td><%= material.tipo_material.name %></td>
                    <td><%= material.unidad_medida.name %></td>
                    <td><%= material.unidad_medida.name %></td>
                <td><%= link_to 'Detail', material %></td>
        <!-- <td><%= link_to 'Edit', edit_material_path(material) %></td>
        <td><%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
