<div>
<table width="100%" style="margin-top:1%">
<tr>
<td></td>
<td align="right">
<%= link_to 'Menú', menu_index_path, :class => "btn btn-link", :style => "color:white;text-decoration:underline" %>
<font color="white">|</font>
<%= link_to 'Salir', destroy_user_session_path, :class => "btn btn-link", :style => "color:white;text-decoration:underline" %> 
</td>
</tr>
</table>
<div style="background-color:white;min-height:485px;padding-top:16px;padding-bottom:49px;padding-left:200px;padding-right:200px">
  <h2 class="text" style="color:#660000"><strong>Materiales</strong></h2>

<br/>
<p>A continuación se muestran los materiales registrados. Para agregar un nuevo material, presione el botón "Nuevo" y para editarlo seleccione "Editar".</p>
<br/>

<%= link_to 'Nuevo', new_material_path, :class => "btn btn-primary float-left" %> 

<table class="table table-hover" id="tabla_filtro">
  <thead>
    <tr>
    <th>Editar</th>
      <th>Nombre</th>
      <th>Pmp</th>
      <th>Tipo material</th>
      <th>Unidad medida trabajo</th>
      <th>Unidad medida compra</th>
      
      <!-- <th></th>
      <th></th> -->
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
      <td><%= link_to 'Editar', edit_material_path(material) %></td>
                    <td><%= material.nombre %></td>
                    <td><%= material.pmp %></td>
                    <td><%= material.tipo_material.nombre %></td>
                    <td><%= material.unidad_medida.nombre %></td>
                    <td><%= TipoContenedor.find(material.unidad_medida2).nombre %></td>
                
        <!-- <td><%= link_to 'Edit', edit_material_path(material) %></td>
        <td><%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>

