<%= form_for(@inventario_detalle) do |f| %>
<% if @inventario_detalle.errors.any? %>
<div id="error_explanation">
    <h4>Hubo <%= pluralize(@inventario_detalle.errors.count, "") %> error(es) en el regostro:</h4>

    <ul>
        <% @inventario_detalle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<table style="margin-left:150px">
<tr>
<div class="form-group">
                <td width="150px"><%= f.label :material_id %></td>
            <td><%= f.collection_select :material_id, Material.all, :id, :nombre, prompt: 'Seleccione material', :class => 'form-control'  %></td>
    </div>
    </tr>
    <tr><td colspan="2">&nbsp</td></tr>
<tr>
<div class="form-group">
<td><%= f.label :stcok_local_material %></td>
            <td><%= f.number_field :stcok_local_material,:in => 1..999999, :class => "form-control" %></td>
    </div>
    </tr>
    </table>
<div class="form-group" style="visibility:hidden">
                <%= f.label :inventario_id %>
            <%= f.collection_select :inventario_id, Inventario.all, :id, :id,:selected => @inventario.id, prompt: true, :class => 'form-control'  %>
    </div>
    <table style="margin-left:450px">
    <tr>
    <td>
<div class="actions">
    <%= f.submit 'Agregar',:class => "btn btn-primary" %>
</div>
</td>
<td>
<%= link_to 'Cancelar', @inventario, :class => "btn btn-primary" %>
</td>
</tr>
</table>
<% end %>
