<h1>Listing inventario_detalles</h1>
<p></p>
<hr>

<%= link_to 'New Inventario detalle', new_inventario_detalle_path, :class => "btn btn-primary float-right" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Stcok local material</th>
      <th>Material</th>
      <th>Inventario</th>
      <th></th>
      <!-- <th></th>
      <th></th> -->
    </tr>
  </thead>

  <tbody>
    <% @inventario_detalles.each do |inventario_detalle| %>
      <tr>
                    <td><%= inventario_detalle.stcok_local_material %></td>
                    <td><%= inventario_detalle.material.name %></td>
                    <td><%= inventario_detalle.inventario.name %></td>
                <td><%= link_to 'Detail', inventario_detalle %></td>
        <!-- <td><%= link_to 'Edit', edit_inventario_detalle_path(inventario_detalle) %></td>
        <td><%= link_to 'Destroy', inventario_detalle, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
